3rdparty/glfw/
3rdparty/glog/
3rdparty/googletest/
3rdparty/libzip/
3rdparty/luabridge3/
3rdparty/lz4/
3rdparty/zlib/
imgui.ini
build
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
.vs/
*.VC.db
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_generated/
/.vscode/settings.json
/.VSCodeCounter
/.vscode
/executable/android/.idea/
/executable/android/.gradle/
/executable/android/app/src/main/assets/
/bin/imgui.ini/
